{% extends "base.html" %}

{% block activeabout %}active{% endblock %}

{% block content %}
<div class="container">
    <p class="text-center p-3">Vokabelheft - ваш помощник в изучении иностранного языка.
    Vokabelheft является аналогом словарной тетради и помогает вам накапливать и тренировать словарный запас.
    На данный момент приложение позволяет изучать английский и немецкий языки.</p>
    <p class="text-center p-3">
        Для начала работы с приложением создайте свой аккаунт, войдите в него и выберите изучаемый язык.
        Затем с помощью кнопки "Добавить слово" начните заполнять свой словарь.
    </p>
    <p class="text-center p-3">
        Приложение позволяет просматривать, добавлять, редактировать и удалять слова в вашем словаре.
        А с помощью функции "Тренировка" вы можете тренировать и проверять свой словарный запас.
    </p>

</div>
{% endblock %}
{% block mode %}
<li class="nav-item">Режим: <b>О приложении</b></li>
{% endblock %}